<footer>
  <a
    href='https://www.linkedin.com/company/nditcommunity'
    target='_blank'
  >
    <img
      src='/assets/social-icons/linkedin.png'
      alt='LinkedIn Icon'
      class='social-icon'
    >
  </a>
  <a
    href='https://twitter.com/nditcommunity'
    target='_blank'
  >
    <img
      src='/assets/social-icons/twitter.png'
      alt='Twitter Icon'
      class='social-icon'
    >
  </a>
  <a
    href='https://www.instagram.com/nditcommunity'
    target='_blank'
  >
    <img
      src='/assets/social-icons/instagram.png'
      alt='Instagram Icon'
      class='social-icon'
    >
  </a>
  <a
    href='https://www.youtube.com/@nditcommunity'
    target='_blank'
  >
    <img
      src='/assets/social-icons/youtube.png'
      alt='YouTube Icon'
      class='social-icon'
    >
  </a>
  <a
    href='https://github.com/nditcommunity'
    target='_blank'
  >
    <img
      src='/assets/social-icons/github.png'
      alt='GitHub Icon'
      class='social-icon'
    >
  </a>
</footer>
