<header class="header">
  <a href="/"><h1 class="title">Neurodiversity In Tech</h1></a>

  <article class="navbar">
    <a class="navbar-item"
      href="/about"
      >About</a>
    <a class="navbar-item"
      href="/events"
      >Events</a>
    <a class="navbar-item"
      href="/media"
      >Media</a>
    <a class="navbar-item"
      href="/contact"
      >Contact</a>
    <p class="navbar-item theme-icon">
      <span class="sun-icon hidden">☼</span>
      <span class="moon-icon">☾</span>
    </p>
  </article>
</header>
