<head>
  <meta charset='utf-8'>
  <meta
    name='viewport'
    content='width=device-width, initial-scale=1'
  >
  <title>Neurodiversity In Tech</title>
  <link
    rel='stylesheet'
    href='/styles/style.css'
  >
  <meta
    name='description'
    content='Neurodivergent-led, Neurodivergent-driven: Shaping our space in tech'
  >

  <!-- Preview Card data -->
  <meta
    property='og:title'
    content='Neurodiversity In Tech'
  >
  <meta
    property='og:type'
    content='website'
  >
  <meta
    property='og:url'
    content='https://nd-in-tech.org'
  >
  <meta
    property='og:image'
    content='https://nd-in-tech.org/assets/ndit-logo-dark.png'
  >

  <!-- Twitter Card data -->
  <meta
    name='twitter:card'
    content='summary_large_image'
  >
  <meta
    name='twitter:site'
    content='@nditcommunity'
  >
  <meta
    name='twitter:title'
    content='Neurodiversity In Tech'
  >
  <meta
    name='twitter:description'
    content='Neurodivergent-led, Neurodivergent-driven: Shaping our space in tech'
  >
  <meta
    name='twitter:image'
    content='https://nd-in-tech.org/assets/ndit-logo-dark.png'
  >
  <meta
    name='twitter:url'
    content='https://nd-in-tech.org'
  >

  <link
    rel='icon'
    href='/favicon.ico'
    sizes='any'
  >
  <link
    rel='icon'
    href='/icon.svg'
    type='image/svg+xml'
  >
  <link
    rel='apple-touch-icon'
    href='/icon.png'
  >
  <link
    href='https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined'
    rel='stylesheet'
  >

  <link
    rel='manifest'
    href='/site.webmanifest'
  >
  <meta
    name='theme-color'
    content='#fafafa'
  >
</head>
