<header>
  <a href='/'><p class='title'>Neurodiversity In Tech</p></a>

  <nav>
    <ul>
      <li><a class='nav-item' href='/about'>About</a></li>
      <li><a class='nav-item' href='/events'>Events</a></li>
      <!--
      <li><a class='nav-item' href='/media'>Media</a></li>
      -->
      <li><a class='nav-item' href='/contact'>Contact</a></li>
      <li>
        <p class='nav-item theme-icon'>
          <span class='sun-icon hidden'>☼</span>
          <span class='moon-icon'>☾</span>
        </p>
      </li>
    </ul>
  </nav>
</header>
