<header>
  <a href="/"><p class="title">Neurodiversity In Tech</p></a>

  <nav>
    <a class="nav-item"
      href="/about"
      >About</a>
    <a class="nav-item"
      href="/events"
      >Events</a>
    <a class="nav-item"
      href="/media"
      >Media</a>
    <a class="nav-item"
      href="/contact"
      >Contact</a>
    <p class="nav-item theme-icon">
      <span class="sun-icon hidden">☼</span>
      <span class="moon-icon">☾</span>
    </p>
  </nav>
</header>
