<!DOCTYPE html>
<html lang="en-US">
  {% include 'head' %}
  <body>
    {% include 'header' %}
    <main>
      {{ content }}
    </main>
    {% include 'footer' %}
    {% include 'scripts' %}
  </body>

</html>
