/* ---------- ACCESSIBILITY ---------- */

/* Hide visually and from screen readers. */

.hidden,
[hidden] {
  display: none !important;
}

/* Hide visually and from screen readers, but retain layout. */

.invisible {
  visibility: hidden;
}

/* Hide visually, but retain access for screen readers. */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Restore visually hidden content for keyboard navigation. */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}
