/* ---------- SHORT VIEWPORTS ---------- */

@media (max-height: 450px) {
  div.home {
    height: 30px;
    padding-top: 8px;
  }

  .tagline {
    display: none;
  }
}

/* ---------- MOBILE ---------- */

@media only screen and (max-width: 600px) {
  main {
    width: 19rem;
  }

  .title {
    font-size: 1.8rem;
  }

  .nav-item {
    padding: 0.5rem 1rem;
  }

  .calendar {
    width: 19rem;
    min-height: 17rem;
    margin-top: 0.8rem;
    height: auto;
    margin-left: -1rem;
    transform: scale(0.9);
    transform-origin: top center;
  }

  .contact-form {
    height: 50rem;
  }
}
