/* ---------- CREDIT FOR STARTING TEMPLATE ----------  */

/* 1) HTML5 Boilerplate v9.0.0-RC1 | MIT License | html5boilerplate.com */
/* 2) main.css 3.0.0 | MIT License | github.com/h5bp/main.css#readme */

/* ---------- VARIABLES ---------- */

/* colors */

:root {
  --font-stack: 'Atkinson Hyperlegible', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';

  /* currently used colors */

  --black: black;
  --white: white;
  --almost-black: #121212;
  --almost-white: #f7f7f7;
  --day-green: #cedad3;
  --day-purple: #d8d3dd;
  --day-blue: #cfdde1;
  --night-purple: #4f466e;
  --night-green: #4a6f63;
  --night-blue: #345a63;

  /* shadows */

  --day-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  --night-shadow: 0px 4px 6px rgba(255, 255, 255, 0.25);

  /* gradients */

  --day-banner-gradient: linear-gradient(to right, var(--day-purple), var(--day-blue));
  --night-banner-gradient: linear-gradient(to right, var(--night-purple), var(--night-blue));

  --day-btn-gradient: linear-gradient(to right, var(--day-green), var(--day-blue));
  --day-btn-gradient-reversed: linear-gradient(to right, var(--day-blue), var(--day-green));

  --night-btn-gradient: linear-gradient(to right, var(--night-green), var(--night-blue));
  --night-btn-gradient-reversed: linear-gradient(to right, var(--night-blue), var(--night-green));

  /* sizing */

  --footer-height: 4.3rem;
}

/* ---------- FONTS ---------- */

/* font face */

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/assets/fonts/Atkinson-Hyperlegible-Regular-102a.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/assets/fonts/Atkinson-Hyperlegible-Italic-102a.woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/assets/fonts/Atkinson-Hyperlegible-Bold-102a.woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/assets/fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* text styles */

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

/* links */

a {
  text-decoration: none;
}

li:hover,
.social-icon:hover {
  transform: scale(1.03);
}

/* ---------- ACCESSIBILITY ---------- */

/* hide visually AND from screen readers */

.hidden,
[hidden] {
  display: none !important;
}

/* hide visually AND from screen readers (but still keep layout) */

.invisible {
  visibility: hidden;
}

/* hide visually but NOT from screen-readers */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* support keyboard navigatation: drupal.org/node/897638 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/* ---------- GENERAL ---------- */

/* body */

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-stack);
  align-items: center;
  font-size: 100%;
  color: var(--black);
  background-color: var(--white);
}

body.day-mode {
  color: var(--black);
  background-color: var(--almost-white);
}

body.night-mode {
  color: var(--white);
  background-color: var(--almost-black);
}

/* main */

main {
  /* aim for 33–38rem for readability (33 ~70 chars/line) */
  max-width: 33rem;
  margin-inline: auto;
  margin-bottom: calc(var(--footer-height) + 1.5rem);
}

main p {
  line-height: 1.618;
  margin-bottom: 2em;
}

main ul {
  padding-left: 1em;
}

main ul li {
  padding-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

/* header */

header p {
  text-align: center;
}

header a {
  text-decoration: none;
}

header nav {
  min-height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.nav-item {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0.5rem 2rem;
}

/* ---------- HEADER ---------- */

/* title bar */

.title {
  padding: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}

body.night-mode .title {
  background: var(--night-banner-gradient);
  color: var(--white);
}

body.day-mode .title {
  background: var(--day-banner-gradient);
  color: var(--black);
}

header p {
  text-align: center;
}

/* nav */

nav {
  min-height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.night-mode nav {
  background-color: var(--almost-black);
  color: var(--white);
  border-left: none;
  border-right: none;
  box-shadow: var(--night-shadow);
}

body.day-mode nav {
  color: var(--black);
  box-shadow: var(--day-shadow);
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding-top: 0.2rem;
}

.nav-item {
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 2rem;
}

body.night-mode .nav-item {
  color: var(--white);
}

body.day-mode .nav-item {
  color: var(--black);
}

.sun-icon,
.moon-icon {
  cursor: pointer;
  font-size: 100% !important;
  padding-top: 2.5px;
}

/* PAGES */

/* headings */

h1 {
  margin-top: 1em;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5em;
}

/* iframes */

iframe {
  border: 0;
  width: 100%;
  border-radius: 1rem;
  background-color: var(--white);
  overflow: hidden;
}

.day-mode iframe {
  box-shadow: var(--day-shadow);
}

.night-mode iframe {
  filter: invert(1) hue-rotate(180deg);
  box-shadow: 0px 4px 6px rgba(128, 128, 128, 0.45);
}

/* home */

.tagline {
  margin: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  margin-block-start: 1em;
  margin-block-end: 0.67em;
}

.join-btn {
  display: inline-block;
  padding: 1rem 2rem;
  margin: 1rem;
  background-color: var(--blue);
  color: white;
  text-decoration: none;
  border-radius: 50rem;
  font-size: 1.5rem;
  font-weight: bold;
}

@media (max-height: 450px) {
  div.home {
    height: 30px;
    padding-top: 8px;
  }

  .tagline {
    display: none;
  }
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(200px - var(--footer-height));
  padding-top: 30px;
}

.tagline {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

.join-btn {
  display: inline-block;
  padding: 1rem 2rem;
  margin: 1rem;
  text-decoration: none;
  border-radius: 50rem;
  font-size: 1.5rem;
  font-weight: bold;
}

body.day-mode .join-btn {
  background: var(--day-btn-gradient);
  color: var(--black);
  box-shadow: var(--day-shadow);
}

body.day-mode .join-btn:hover {
  background: var(--day-btn-gradient-reversed);
}

body.night-mode .join-btn {
  background: var(--night-btn-gradient);
  color: var(--white);
  box-shadow: var(--night-shadow);
}

body.night-mode .join-btn:hover {
  background: var(--night-btn-gradient-reversed);
}

/* about */

.bio {
  font-size: 1rem;
  text-align: left;
}

/* events */

.calendar {
  height: 20rem;
  padding: 1rem;
}

/* contact */

.contact-form {
  height: 46rem;
  padding: 1rem 0;
}

/* ---------- FOOTER ---------- */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: var(--footer-height);

  .social-icon {
    width: 2rem;
  }
}

body.night-mode footer {
  background: var(--night-banner-gradient);
  color: var(--white);
}

body.day-mode footer {
  background: var(--day-banner-gradient);
  color: var(--black);
}

/* ---------- MOBILE ---------- */

@media only screen and (max-width: 600px) {
  main {
    width: 19rem;
  }

  .title {
    font-size: 1.8rem;
  }

  .nav-item {
    padding: 0.5rem 1rem;
  }

  .calendar {
    width: 19rem;
    min-height: 17rem;
    margin-top: 0.8rem;
    height: auto;
    margin-left: -1rem;
    transform: scale(0.9);
    transform-origin: top center;
  }

  .contact-form {
    height: 50rem;
  }
}
