/* ---------- CREDIT FOR STARTING TEMPLATE ----------  */

/* 1) HTML5 Boilerplate v9.0.0-RC1 | MIT License | html5boilerplate.com */
/* 2) main.css 3.0.0 | MIT License | github.com/h5bp/main.css#readme */

/* ---------- UTILITY ---------- */

/* root vars */

:root {
  --font-stack: 'Atkinson Hyperlegible', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';

  /* currently used colors */
  --black: black;
  --white: white;
  --night-purple: #432979;
  --day-purple: #f1eaff;
  --night-green: #376c54;
  --day-green: #ddffef;
  --blue: #32adc7;

  /* most commonly used brand colors */
  /* --yellow: #e0b645;
  --pink: #bc69aa;
  --green: #55bf8a;
  --purple: #8772de; */

  /* others colors from logo */
  /* --light-green: #8adf88;
  --turquoise: #2db7a2;
  --red: #f07877;
  --dark-orange: #f18b5b;
  --light-orange: #f69e45; */

  --day-blue: #cdeef8;  
  --night-blue: #195963;
}

/* ---------- FONTS ---------- */

/* font face */

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/assets/fonts/Atkinson-Hyperlegible-Regular-102a.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/assets/fonts/Atkinson-Hyperlegible-Italic-102a.woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/assets/fonts/Atkinson-Hyperlegible-Bold-102a.woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/assets/fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* text styles */

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

/* ---------- ACCESSIBILITY ---------- */

/* Hide visually AND from screen readers */

.hidden,
[hidden] {
  display: none !important;
}

/* hide visually AND from screen readers (but still keep layout) */

.invisible {
  visibility: hidden;
}

/* hide visually but NOT from screen-readers */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* support keyboard navigatation: drupal.org/node/897638 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/* ---------- GENERAL ---------- */

/* body */

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-stack);
  align-items: center;
  font-size: 100%;
}

body.light-mode {
  color: var(--black);
  background-color: var(--white);
}

body.dark-mode {
  color: var(--white);
  background-color: var(--black);
}

/* main */

main {
  max-width: 33rem; /* Aim for 33–38 rem for readability. 33rem results in around 70 chars per line. */
  margin-inline: auto;
}

main p {
  line-height: 1.618; /* Should be between 1.5 and 2.0. 1.618 is the golden ratio. */
  margin-bottom: 2em;
}

main ul {
  padding-left: 1em;
}

main ul li {
  padding-bottom: 1em;
}

/* ---------- HEADING ---------- */

/* title bar & footer */

.title {
  padding: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
}

body.dark-mode .title,
body.dark-mode footer {
  background-color: var(--night-purple);
  color: var(--white);
}

body.light-mode .title,
body.light-mode footer {
  background-color: var(--day-purple);
  color: var(--black);
}

header a,
header p {
  text-align: center;
  text-decoration: none;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  max-height: 69px;
  padding: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 45px;

  .social-icon {
    width: 2rem;
    padding: 0.5rem;
  }
}

/* nav */

nav {
  min-height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

body.dark-mode nav {
  background-color: var(--night-green);
  color: var(--white);
}

body.light-mode nav {
  background-color: var(--day-green);
  color: var(--black);
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.nav-item {
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 2rem;
}

body.dark-mode .nav-item {
  color: var(--white);
}

body.light-mode .nav-item {
  color: var(--black);
}

.theme-icon {
  font-size: 1.2rem;
  cursor: pointer;
  width: 0.2rem;
}

.sun-icon {
  color: var(--white);
}

.moon-icon {
  color: var(--black);
}

/* ---------- PAGES ---------- */

/* headings */

h1 {
  margin-top: 1em;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5em;
}

/* home */

.tagline {
  margin: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  margin-block-start: 1em;
  margin-block-end: 0.67em;
}

.join-btn {
  display: inline-block;
  padding: 1rem 2rem;
  margin: 1rem;
  text-decoration: none;
  border-radius: 50rem;
  font-size: 1.5rem;
  font-weight: bold;
}

body.light-mode .join-btn {
  background-color: var(--day-blue);
  color: var(--black);
  border: 1px solid var(--black);
}

body.dark-mode .join-btn {
  background-color: var(--night-blue);
  color: var(--white);
  border: 1px solid var(--white);
}

/* about */

.bio {
  font-size: 1rem;
  text-align: left;
}

/* events */

.calendar {
  height: 20rem;
  border: 0;
  width: 100%;
}
