---
layout: base.liquid
title: media
description: press releases and other social highlights of Neurodiversity in Tech
---

<h1>Media</h1>

<p>Explore features, conversations, and community highlights from Neurodiversity In Tech.</p>

{% for section in media %}
<section class="resource-section">
  <h2>{{ section.title }}</h2>
  <ul class="resource-list">
    {% for item in section.items %}
    <li>
      <a
        href="{{ item.url }}"
        target="_blank"
        rel="noreferrer"
        >{{ item.title }}</a
      >
      <p>{{ item.description }}</p>
    </li>
    {% endfor %}
  </ul>
</section>
{% endfor %}
